.loading {
    width: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

@media (max-width: 425px) {
    .loading {
        width: 100px;
        margin-top: 40px;
    }
}